@use "../../assets/scss/func";

.icons-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  max-width: 300px;
  height: 100px;
  position: relative;

  &--close {
	position: absolute;
	right: func.pxToRem(-20);
	top: func.pxToRem(-10);
	font-size: 1.2rem;
	@media screen and (max-width: 700px) {
	  top: func.pxToRem(-3);
	}
  }
}
